.Rproj.user
.Rhistory
.RData
.Ruserdata
*.csv
*.Rdata
*.zip
*.xlsx
*.7z
*.shp
*.prj
*.xml
*.htm
*.lyr
*.dbf
*.doc
*.Rapp.history
*.tiff
*.png
*.sbn
*.sbx
*.shx
*Ricklefs_colors.rda
*Data_for_Valentin.RData
*.rds
/results
/data